.banner{
	position: relative;
	min-height: 100vh;
	background: var(--color-oscuro);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.banner h2{
	position: relative;
	font-size: 2em;
	color: #fff;
	font-weight: 300;
	line-height: 1.5em;
	/*border-bottom: 2px solid #fff;*/
}

.banner h2 span{
	font-size: 1em;
	font-weight: 300;
	color: var(--color-principal);
	transition: .7s ease;
	/*animation: parpadeito 2s linear infinite;
	animation-delay: 6s;*/
}

.banner h3{
	font-size: 1em;
	color: #fff;
	font-weight: 300;
}

.banner h4{
	color: #fff;
	margin-top: 50px;
	font-weight: 300;
	font-size: 20px;
}

.banner h4 span{
	color: var(--color-principal);
}

.brayan {
	width: 666px;
	height: 764px;
	position: relative;
	top: 130px;
	right: 0px;
	filter: grayscale(1) contrast(1.1);
	resize: none;
}

/*@keyframes parpadeito{
	0%, 41%, 45%, 47%, 49.5%, 100%  { 
        opacity: 1;
    }

    42%, 46%, 48%, 50% { 
        opacity: 0;
    }
}*/

@media (max-width: 1200px){
	.brayan{
		display: none;
	}
}